{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Set Password" %}{% endblock head_title %}

{% block content %}
<div class="container account">
    <div>    
        <div class="row">
            <div class="col-12 mt-3 mx-0">
                <h3>{% trans "Set Password" %}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3 mx-0">
                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}