
body {
    background: url('/media/bg-candles1.jpg') no-repeat center center fixed;
    background-size: cover;
    /* color: #555; */
    font-family: "Montserrat", sans-serif;
}

nav,
footer {
    margin-left: 0;
    padding: 16px 5% !important;
    background-color: rgba(0, 0, 0, 0.9);
    color: #dbd0ba;
}

p {
    text-align: justify;
}


/* Custom */
.alert {
    background-color: #f69700;
    border-radius: 15px !important;
    position: absolute !important;
    top: 104px !important;
    right: 7% !important;
    width: 50% !important;
    height: fit-content !important;
    z-index: 9999;
}

.brand {
    font-family: "Lato", sans-serif !important;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.thin {
    font-weight: 300;
}

.text-muted {
    color: #6d6d6d !important;
    --bs-text-opacity: 1 !important;
}

.text-fire {
    color: #f69700;
}

.text-grey {
    color: #dbd0ba !important;
}

.main-bg {
    margin-top: 104px;
}


/* Navbar Classes */

.nav-link,
.nav-item {
    color: #dbd0ba !important;
}

.nav-link:hover,
.nav-item:hover {
    color: #f69700 !important;
    font-weight: 500;
}

/* Account & Booking_update h3 */

.account {
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 76px;
    padding: 50px;
    width: 75%;
    color: #dbd0ba;
}

.account h3,
#booking-update h3 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.row:nth-of-type(1) p:first-of-type {
    font-weight: 600;
    margin-bottom: 5px;
}

.account p {
    padding-bottom: 10px;
}

.account button,
.account [type="submit"],
#booking-confirm-delete [type="submit"] {
    background-color: #f69700;
    text-transform: uppercase;
    color: #21201e;
    font-weight: 600;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 8px 15px;
}

.account button:hover,
.account [type="submit"]:hover,
#booking-confirm-delete [type="submit"] {
    background-color: #b57002;
}

.account a {
    text-decoration: none;
    color: #f69700;
}


/* Error Page */

#error-page {
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    background-size: cover;
    height: calc(100vh - 350px);
}


/* Index */

#index {
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    background-size: cover;
    height: calc(100vh - 350px);
}

#index h1 {
    margin: auto auto auto 10%;
    font-family: "Lato", sans-serif;
}

.btn-index-cta {
    background-color: #f69700;
    color: #21201e;
    padding: 2rem;
    width: 250px;
    margin: 0 auto 50px 10% !important;
    /* height:  */
}

.btn-index-cta:hover,
.world-detail-link:hover,
.btn-book:hover {
    background-color: #b57002;
    color: #21201e;
}

/* Worlds */

#worlds {
    background: url('/media/bg-candles1.jpg') no-repeat center center fixed;
    background-size: cover;
    height: fit-content;
    padding: 0 7% 70px;
}

.image-flash {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    position: absolute;
    top: 5%;
    right: 0;
    left: 320px;
    padding: 10px;
    background-color: #21201e;
}

.world-card {
    background-color: rgba(0, 0, 0, 0.95);
    margin: 35px auto;
    padding: 40px;
}

.scale {
    position: relative;
    height: 280px !important;
    width: 280px !important;
    vertical-align: middle;
    object-fit: cover;
}

.worlds-display_name {
    color: #dbd0ba;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 4px;
    text-transform: uppercase;
}

.world-short-description {
    /* text-align: justify; */
    color: #dbd0ba;
    position: absolute;
    left: 338px;
    right: 18px;
    top: 90px;
}

.world-detail-link {
    background-color: #f69700;
    position: absolute;
    top: 240px;
    left: 338px;
    color: #21201e;
    padding: 0.5rem;
    width: 250px;
}


/* Forms */

.form {
    padding: 5% 4%;
    background-color: rgba(0, 0, 0, 0.95);
    color: #dbd0ba;
    width: 60%;
    margin: 40px auto;
}

#booking-form h1,
#booking-list h1 {
    padding-bottom: 40px;
}


/* Booking List */

#booking-list {
    padding: 5% 7%;
    background-color: rgba(0, 0, 0, 0.95);
    color: #dbd0ba;
    width: 80%;
    margin: 40px auto;
}

#booking-list h1 {
    text-transform: uppercase;
}

.booking-list-object {
    margin: 0 auto 30px 0;
    font-size: 1.1rem;
    background-color: #21201e;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bookings-btn-parent {
    display: flex;
    justify-content: end;
}

.btn-update {
    text-decoration: none;
    padding: 5px 10px;
    border: solid 1px; 
    width: 38px;
}

.btn-delete {
    text-decoration: none;
    /* background-color: rgb(199, 48, 10); */
    padding: 5px 10px;
    border: solid 1px #dbd0ba; 
    width: 38px;
    color: #dbd0ba;
}

.btn-delete {
    /* color: #fff; */
    /* background: #E84610; */
}

.faded {
    color: rgb(172, 175, 175);
}

/* Booking Update Page */

#booking-update .btn-close,
#booking-confirm-delete .btn-close {
    position: absolute;
    right: 40px;
    top: 40px;
}

/* Worlds */

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

/* World Details */

.details {
    background: url('/media/bg-candles1.jpg') no-repeat center center fixed;
    background-size: cover;
    height: fit-content;
    padding: 0 4% 70px;
}

.details-info {
    background-color: rgba(0, 0, 0, 0.9);
    color: #c3c3c3;
    line-height: 2;
    position: relative;
    padding: 0;
    margin-top: 40px;
    /* text-align: justify; */
}

.details-text {
    display: flex;
    flex-direction: column;  /* Align items vertically */
    justify-content: space-between; /* Push the last child to the bottom */
    margin-bottom: 0;
    /* text-align: justify; */
    background-color: rgba(0, 0, 0, 0.9);
    color: #c3c3c3;
    line-height: 2;
    padding: 50px;
}

.details-heading {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    padding: 20px;
    margin-bottom: 80px;
    background-color: #21201e;
}

.details-text h1 {
    font-family: "Montserrat Alternates", sans-serif;
    text-transform: uppercase;
}

.details-text p {
    padding: 0;
    /* text-align: justify; */
}

.details-img-parent {
    padding: 50px 20px 50px 50px;
}

.details-scale {
    position: relative;
    width: 100% !important;
    height: auto;
    vertical-align: middle;
    margin-top: 72px !important;
}

.details-scale1 {
    position: relative;
    width: 100% !important;
    height: auto;
    vertical-align: middle;
    margin-top: 0 !important;
}

.details-description {
    padding: 0 0 40px;
}

.details h3 {
    font-size: 2rem;
    font-weight: 700;
}

.btn-book {
    background-color: #f69700;
    padding: 10px;
    text-transform: uppercase;
    margin: 40px 0;
}



@media (max-width: 991px) {
    
    .details-info {
        padding: 4%;
    }

    .details-text {
        padding: 4%;
    }

    .details-img-parent {
        padding: 7%;
    }

    .details-scale {
        position: relative;
        width: 100% !important;
        height: auto; /* Ensures the image maintains its aspect ratio */
        vertical-align: middle;
        margin-top: 72px !important;
    }

    .form {
        padding: 70px 40px;
        background-color: rgba(0, 0, 0, 0.95);
        width: 90%;
        margin: 40px auto;
    }

    #booking-list {
        padding: 40px 7%;
        background-color: rgba(0, 0, 0, 0.95);
        color: #dbd0ba;
        width: 80%;
        margin: 40px auto;
    }
    
}


@media (max-width: 767px) {

    .row>* {
        padding-left: 3%;
        padding-right: 3%;
    }

    #index h1 {
        margin:  70px auto 50px !important;
        text-align: center !important;
    }

    #index h4 {
        text-align: center !important;
    }

    .btn-index-cta {
        margin: 0 auto 50px !important;
        /* height:  */
    }

    #worlds,
    body {
        padding-right: 0;
        padding-left: 0;
    }
    
    .image-flash {
        position: absolute;
        top: 5%;
        right: 0;
        left: 0;
        padding: 10px;
        background-color: #47443e;
        color: #21201e;
    } 
    
    .world-card {
        background-color: rgba(0, 0, 0, 0.9);
        margin: 35px auto;
        padding: 40px 10px 40px 20px;
    }

    .scale {
        position: relative;
        width: 100% !important;
        height: auto; /* Ensures the image maintains its aspect ratio */
        vertical-align: middle;
        margin-top: 72px;
    }

    .details-scale {
        position: relative;
        width: 100% !important;
        height: auto; /* Ensures the image maintains its aspect ratio */
        vertical-align: middle;
        margin-top: 72px !important;
    }

    .world-short-description {
        position: relative;
        left: 0;
        top: 0;
        padding-top: 30px;
        display: flex;
        text-align: left !important;
    }
    
    .world-detail-link {
        position: relative;
        left: auto;
        right:auto;
        top: 0;
        margin: 30px auto;
        /* margin-top: 30px; */
    }

    .image-container {
        text-align: center !important;
    }

    #worlds .worlds-second-row {
        text-align: center;
        margin-left: 0;
    }

    #booking-list {
        padding: 40px 7%;
        width: 95%;
        margin: 40px auto;
    }

    .bookings-btn-parent {
        justify-content: start;
    }
    

}


@media (max-width: 475px) {
 
    nav,
    footer {
        margin-left: 0;
        /* margin-right: -22px; */
        padding: 16px 3% !important;
        /* background-color: rgba(0, 0, 0, 0.9); */
        /* color: white; */
    }

    #worlds .worlds-second-row {
        /* margin-left: 0;
        margin-right:0; */
    }

    .details {
        padding: 0 0 70px;
    }

    .details-info {
        padding: 3%;
    }

    #booking-list {
        padding: 40px 7%;
        background-color: rgba(0, 0, 0, 0.95);
        color: #dbd0ba;
        width: 95%;
        margin: 40px auto;
    }

    .booking-list-object .btn {
        margin-top: 50px !important;
    }

    .form {
        width: 100%;
        margin: 40px auto;
        padding: 70px 7%;
    }

    

    /* .btn-update {
        margin: 40px 40px 20px 0 !important;
    } */
    
}