{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div id="booking-update" class="rounded">
    
    <div class="form position-relative">
        <!-- <a class="btn-update"><i class="fa-solid fa-backward"></i></a> -->
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close" onclick="window.history.back();"></button>
        <div>
            <form method="post">
                
                
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" value="Update" class="btn btn-update rounded w-100 btn-book">
            </form>
        </div>
    </div>
</div>
{% endblock %}