{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div id="booking-update" class="rounded">
    
    <div class="form position-relative">

        <button type="button" class="btn-close btn-close-white" aria-label="Close" onclick="window.location.href='{% url 'booking_list' %}';"></button>
        <h3>Update Booking</h3>
        <div>
            <form method="post">                
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" value="Update" class="btn btn-update rounded w-100 btn-book">
            </form>
        </div>
    </div>
</div>
{% endblock %}