{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div id="booking-confirm-delete" class="form position-relative">

    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close" onclick="window.location.href='{% url 'booking_list' %}';"></button>

    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to cancel your booking:<br>
            "<strong>{{ object.world.display_name }}:</strong> {{ object.date }} at {{ object.time }}"?</p>
            {{ form }}
        <input type="submit" value="Cancel Booking">
    </form>
    
</div>


{% endblock %}