{% extends 'base.html' %} 

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="form">
    
    <h1 class="mb-5">BOOKING FORM</h1>
  
    <form method="post">
      {{ form | crispy }}
      {% csrf_token %}
      <button type="submit" class="btn btn-book w-100 submit-btn rounded"
      id="book-button">BOOK NOW</button>
    </form>
    
  </div>  


{% endblock %}


{% block extras %}
<script>
    $(document).ready(function() {
      $("#id_booking_date").datepicker({
        dateFormat: "dd-mm-yyyy"  // Match format in model
      });
    });

    window.onload = function() {
    // Get the current URL
    const url = window.location.pathname;

    // Extract the last part of the URL (world id) by splitting the URL by '/'
    const segments = url.split('/');
    const worldId = segments[segments.length - 1] || segments[segments.length - 2]; // Last segment may be empty due to trailing slash

    // Find the select element
    const selectElement = document.getElementById('id_world');

    // Check if the worldId is valid, then set the value of the select element
    if (selectElement) {
        selectElement.value = worldId;
    }
}

  </script>
{% endblock %}
