{% extends "base.html" %}
{% load static %}


{% block content %}
<div id="index" class="container-fluid d-flex align-items-center">
    <div class="row w-100">
        <div class="col-12 text-left">
            <h1 class="display-4 text-white thin ml-0 pl-0 mb-5 text-left"><span class="text-fire">404</span> Error</h1>
        </div>
        <div class="col-12 mb-4 text-left mt-2">
            <h4>
                <a href="{% url 'home/index' %}" class="display-4 btn btn-lg rounded-pill text-uppercase py-3 btn-index-cta">Back Home</a>
            </h4>
        </div>
    </div>
</div>

{% endblock %}
