{% extends 'base.html' %}
{% load static %}


{% block content %}
<div id="about" class="container">
    <div>
        <div class="row">
            <div class="col-12 text-center h-50">
                {% if "placeholder" in about.image.url %}
                <img class="about-img" src="{% static 'images/nobody.jpg' %}" class="about-image" alt="{{ about.title }}">
                {% else %}
                <img class="about-img" src="{{ about.image.url }}" alt="{{ about.title }}">
                {% endif %}
            </div>
            <div class="col-12 mt-5 mb-5">
                <h2 class="col-12 text-fire text-uppercase">{{ about.title }}</h2>
                <div class="mt-5">
                    {{ about.content | safe }}
                </div>
            </div>
            <div class="col-12">
                <h5 class="col-12">Need any extra information? Contact us!</h5>
                <a href="{% url 'contact' %}" class="btn btn-about text-upper w-100 rounded mt-5 mb-5">Contact Now</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extras %}
<script>
    
<script/>
{% endblock %}