{% extends 'base.html' %}
{% load static %}


{% block content %}
<div id="about" class="container mt-5 account">
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            {% if "placeholder" in about.image.url %}
            <img src="{% static 'images/nobody.jpg' %}" class="profile-image" alt="{{ about.title }}">
            {% else %}
            <img class="about-img" src="{{ about.image.url }}" class="about-image" alt="{{ about.title }}">
            {% endif %}
        </div>
        <div class="col-12 col-md-8">
            <h2>{{ about.title }}</h2>
            {{ about.content | safe }}
        </div>
    </div>
</div>
{% endblock content %}