
{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Room Display -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for room in room_list %}
                <div class="col-md-6">
                    <div class="card mb-6">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="display_name">{{ room.display_name }}</p>
                                </div>
                            </div>
                            <p class="room-description">{{ room.description | safe}}</p>
                            <img class="scale" src="{{ room.image.url }}" alt="">
                            <hr>
                            <a href="{% url 'room_details' room.slug %}" class="post-link">
                                <button>SHOW DETAILS</button>     
                            </a>
                            <!-- <p class="card-text text-muted h6">{{ post.created_on}}
                            </p> -->
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> &laquo; PREV</a></li>
            {% endif %}

            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}

{% block copyright %}
Copyright 2024
{% endblock %}