
{% extends "base.html" %}
{% load static %}


{% block content %}
<div id="worlds" class="container-fluid">
   
    <div class="row">
        <!-- World Display -->
        <div class="col-12 col-lg-11 col-xl-9 mt-3 ">
            <div class="row ml-0 worlds-second-row">
                {% for world in world_list %}
                <div class="col-12 world-card">
                    <div class="card mb-12">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash text-grey">
                                    <p class="display_name">{{ world.display_name }}</p>
                                </div>
                            </div>
                            <img class="scale" src="{{ world.image_dining.url }}" alt="">
                            <p class="world-short-description">{{ world.short_description }}</p>
                            <a href="{% url 'world_details' world.slug %}">
                                <button class="btn rounded-pill world-detail-link">SHOW DETAILS</button>     
                            </a>
                            <!-- <br>
                            <hr>
                            <br> -->
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row ml-0 worlds-second-row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> &laquo; PREV</a></li>
            {% endif %}

            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}

{% block copyright %}
Copyright 2024
{% endblock %}