{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="details">
    <div class="container-fluid">
        <div class="row g-5 details-info">

            <div class="col-12 col-lg-9 details-text">
                <div class="details-heading text-grey">
                    <h1>{{ world.display_name }}</h1>
                </div>
                <!-- <h1>{{ world.display_name }}</h1> -->
                
                <div class="details-description">{{ world.description | safe }}</div>

                <div class="row pl-md-5 mx-5">
                    <div class="col-12 col-lg-12 text-end mr-5">
                        <h3 class="mr-5">{{ world.price }} €</h3>
                    </div>
                    <div class="col-12 col-lg-12 text-center">
                        <a href="{% url 'booking_new' %}" class="btn btn-book text-upper w-100">Book Now!</a>
                    </div>                    
                </div>
            
            </div>

            <div class="col-12 col-lg-3 order-lg-first">
                <div class="col-12 col-md-9 col-lg-12 img-fluid mx-auto d-block"><a href="{{ world.image_dining.url }}" target="_blank"><img class="details-scale" src="{{ world.image_dining.url }}" alt="image of the dining area"></a></div>
                <div class="col-12 col-md-9 col-lg-12 img-fluid mx-auto d-bloc"><a href="{{ world.image_jakuzzi.url }}" target="_blank"><img class="details-scale" src="{{ world.image_jakuzzi.url }}" alt="image of the jakuzzi"></a></div>
                <div class="col-12 col-md-9 col-lg-12 img-fluid mx-auto d-bloc"><a href="{{ world.image_siesta.url }}" target="_blank"><img class="details-scale" src="{{ world.image_siesta.url }}" alt="image of the siesta area"></a></div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}

