{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row g-0 masthead-text">

            <div class="col-12 col-lg-9 masthead-text">
                
                <h1>{{ world.display_name }}</h1>
                
                {{ world.description | safe }}

                {{ world.price }}
                
            </div>

            <div class="col-12 col-lg-3 order-lg-first">
                <div class="col-12 col-md-6 col-lg-4 scale"><img src="{{ world.image.url }}" alt="image of the bedroom" style="width:250px; height:fit-content"></div>
                <div class="col-12 col-md-6 col-lg-4 scale"><img src="{{ world.image_dining.url }}" alt="image of the dining area" style="width:250px; height:fit-content"></div>
                <div class="col-12 col-md-6 col-lg-4 scale"><img src="{{ world.image_jakuzzi.url }}" alt="image of the jakuzzi" style="width:250px; height:fit-content"></div>
            </div>

            <a href="{% url 'booking_new' %}" class="btn btn-secondary btn-sm btn-card book-button">Book Now!</a>
        </div>
    </div>
</div>



{% endblock content %}

{% block extras %}
<!-- <script src="{% static 'js/comments.js' %}"></script> -->
{% endblock %}